# Pandas - Manipulación de Datos

Este notebook cubre la manipulación de datos en Pandas: agregar/eliminar columnas, merge y join, groupby, y transformaciones con pivot y reshape.

## Agregar y Eliminar Columnas

## Manipulación de Índice

In [1]:
import pandas as pd

# Ejemplo de DataFrame para manipulación de índice
df_idx = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])

# Reindexar (conformar a nuevo índice)
df_idx.reindex(['a', 'b', 'c', 'd'])  # Nuevo índice (rellena con NaN si falta)

# Eliminar labels del índice
df_idx.drop(labels=['a'])             # Eliminar labels del índice

# Renombrar labels del índice
df_idx.rename(index={'a': 'A', 'b': 'B'})  # Renombrar labels del índice

# Ordenar índice
df_idx.sort_index()                   # Ordenar labels del índice

# Establecer columna como índice
df_idx.set_index('A')                 # Insertar columna en índice
# Para MultiIndex, necesitaríamos un DataFrame con más columnas:
df_multi = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['a', 'b', 'c'])
df_multi.set_index(['A', 'B'])        # MultiIndex desde columnas (A y B pasan a ser índice)

# Resetear índice
df_idx.reset_index()                  # Insertar índice en columnas, resetear a RangeIndex

  index  A  B
0     a  1  4
1     b  2  5
2     c  3  6

In [2]:
import pandas as pd

# Crear DataFrame inicial
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])

# Añadir columna
df['C'] = [7, 8, 9]
df['D'] = df['A'] + df['B']  # Columna calculada
df['new_or_old_col'] = pd.Series([10, 11, 12], index=df.index)  # Desde Series o array

# Eliminar columnas
df_sin_c = df.drop('C', axis=1)              # Retorna nuevo DataFrame
df_sin_c = df.drop('C', axis='columns')      # Equivalente
df.rename(columns={'C': 'C_new'})           # Renombrar columna
df.drop(['C', 'D'], axis=1)                  # Eliminar múltiples columnas

# Para modificar in-place, crear nuevo DataFrame
df2 = df.copy()
df2.drop('C', axis=1, inplace=True)  # Modifica in-place

# Eliminar filas
df_sin_fila0 = df.drop('a')                  # Eliminar fila por índice
df_sin_filas = df.drop(['a', 'b'], axis=0)   # Múltiples filas
df.drop(labels=['a', 'b'])                   # Especificar labels explícitamente

   A  B  C  D  new_or_old_col
c  3  6  9  9              12

## Merge y Join

In [3]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['B', 'C', 'D'], 'value2': [4, 5, 6]})

# Merge (similar a SQL JOIN)
pd.merge(df1, df2, on='key')                    # Inner join
pd.merge(df1, df2, on='key', how='left')        # Left join
pd.merge(df1, df2, on='key', how='right')      # Right join
pd.merge(df1, df2, on='key', how='outer')      # Outer join

# Join por índice (requiere que los índices coincidan o usar set_index)
df1_indexed = df1.set_index('key')
df2_indexed = df2.set_index('key')
df1_indexed.join(df2_indexed, how='inner')

# Concatenar
pd.concat([df1, df2], axis=0)    # Apilar verticalmente
pd.concat([df1, df2], axis=1)    # Apilar horizontalmente

  key  value1 key  value2
0   A       1   B       4
1   B       2   C       5
2   C       3   D       6

## GroupBy

In [4]:
df = pd.DataFrame({
    'categoria': ['A', 'A', 'B', 'B', 'A'],
    'valor': [10, 20, 30, 40, 50]
})

# Agrupación básica
grupo = df.groupby('categoria')
grupo.sum()           # Suma por grupo
grupo.mean()          # Media por grupo
grupo.count()         # Conteo por grupo

# Múltiples funciones de agregación
grupo.agg(['sum', 'mean', 'count'])

# Agrupar por múltiples columnas (ejemplo con DataFrame que tiene múltiples columnas)
df2 = pd.DataFrame({
    'categoria': ['A', 'A', 'B', 'B', 'A'],
    'subcategoria': ['X', 'Y', 'X', 'Y', 'X'],
    'valor': [10, 20, 30, 40, 50]
})
df2.groupby(['categoria', 'subcategoria']).sum()

# Aplicar función personalizada
grupo.apply(lambda x: x.max() - x.min())

           valor
categoria
A             40
B             10

## Ordenamiento de Valores

In [5]:
df = pd.DataFrame({
    'X': [3, 1, 2],
    'Y': [1, 3, 2]
}, index=['a', 'b', 'c'])

# Ordenar por valores de columna
df.sort_values('X', ascending=True)              # Ordenar por una columna
df.sort_values(['X', 'Y'], ascending=[False, True])  # Ordenar por múltiples columnas
# Todos los valores de fila e índice seguirán el ordenamiento

   X  Y
a  3  1
c  2  2
b  1  3

## Pivot y Reshape

In [6]:
df = pd.DataFrame({
    'fecha': ['2024-01', '2024-01', '2024-02', '2024-02'],
    'producto': ['A', 'B', 'A', 'B'],
    'ventas': [100, 200, 150, 250]
})

# Pivot
df.pivot(index='fecha', columns='producto', values='ventas')

# Pivot table (permite duplicados)
df.pivot_table(values='ventas', index='fecha', columns='producto', aggfunc='sum')

# Melt (inverso de pivot)
df.melt(id_vars='fecha', value_vars=['producto', 'ventas'])

# Stack y Unstack
df.set_index(['fecha', 'producto']).unstack()

         ventas
producto      A    B
fecha
2024-01     100  200
2024-02     150  250