# Pandas - DataFrames y Series

Este notebook cubre los conceptos fundamentales de Pandas: creación de Series y DataFrames, y sus propiedades básicas.

## Importar Pandas

In [1]:
import pandas as pd
import numpy as np

## Crear Series

In [2]:
# Desde lista
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

# Desde diccionario
s3 = pd.Series({'idx1': 1, 'idx2': 2, 'idx3': 3})  # {'idx1': val1, 'idx2': val2}

# Desde NumPy array
s4 = pd.Series(np.array([1, 2, 3, 4]))

# Con nombre
s5 = pd.Series([1, 2, 3, 4], name='mi_serie')

# Crear Series con valores, índice y nombre
s6 = pd.Series([1, 2, 3], index=['a', 'b', 'c'], name='mi_serie')

# Propiedades
s1.values      # Array NumPy con valores
s1.index       # Índice (array-like row labels)
s1.name        # Nombre de la serie
s1.dtype       # Tipo de datos
len(s1)        # Longitud (número de filas)
s1.unique()    # Series de valores únicos

array([1, 2, 3, 4, 5])

## Crear DataFrames

In [3]:
# Desde diccionario (cada columna es una Series)
df1 = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'María'],
    'edad': [25, 30, 28],
    'ciudad': ['Madrid', 'Barcelona', 'Valencia']
})

# Desde diccionario de Series (comparten el mismo índice)
df1_alt = pd.DataFrame({
    'col1': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    'col2': pd.Series([4, 5, 6], index=['a', 'b', 'c'])
})

# Desde lista de listas (2D array)
df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6]], 
                   columns=['A', 'B', 'C'],
                   index=['a', 'b'])

# Desde lista de diccionarios
df3 = pd.DataFrame([
    {'nombre': 'Ana', 'edad': 25},
    {'nombre': 'Juan', 'edad': 30}
])

# Desde NumPy array
df4 = pd.DataFrame(np.random.randn(3, 4), 
                   columns=['A', 'B', 'C', 'D'],
                   index=['a', 'b', 'c'])

# Propiedades básicas
df1.shape      # (n_rows, m_cols) - tupla con dimensiones
df1.size       # Número total de elementos
df1.columns    # Array-like column labels
df1.index      # Array-like row labels
df1.values     # Numpy array con los datos
df1.dtypes     # Tipo de cada columna (Series)
# df1.dtype      # No existe en DataFrame, usar dtypes (comentado porque causa error)
df1.info()     # Información del DataFrame (memoria, tipos)
df1.head()     # Primeras filas (por defecto 5)
df1.tail()     # Últimas filas (por defecto 5)
df1.describe() # Estadísticas descriptivas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  3 non-null      object
 1   edad    3 non-null      int64
 2   ciudad  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

            edad
count   3.000000
mean   27.666667
std     2.516611
min    25.000000
25%    26.500000
50%    28.000000
75%    29.000000
max    30.000000